.blog{
    padding: 2rem 0;
}
.blog__top-content{
    text-align: center;
    padding: 2rem 0;
}
.blog__top-content h2{
    font-size: 3rem;
}
.blog__item{
    width: 30%;
    padding: 30px 25px;
    background: var(--card-bg);
    border-radius: 0.5rem;
}
.blog__img h3{
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.blog__img{
    margin-bottom: 30px;
}
.blog__img img{
    width: 100%;
}
.blog__desc{
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.learn__more i{
    color: var(--primary-color);
    font-size: 1.8rem;
    cursor: pointer;
}
.blog__wrapper{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.light-theme .blog{
    background: #effcff;
}
.light-theme .blog__item{
    box-shadow: 5px 5px 15px -5px #999;
}

@media only screen and (max-width:768px){
    .blog__item{
        width: 45%;
        margin-bottom: 30px;
    }
    .blog__wrapper{
        flex-wrap: wrap;
    }
    .blog__top-content h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:576px){
    .blog__item{
        width: 100%;
    }
}