.counter__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}
.counter__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.counter__number, .counter__title{
    background:var(--counter-color);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.counter__number{
    font-size: 4rem;
}
.counter__title{
    font-size: 2rem;
    letter-spacing: 2px;
}
@media only screen and (max-width:992px){
    .counter__number{
        font-size: 2rem;
    }
    .counter__title{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:768px){
    .counter__number{
        font-size: 3rem;
    }
    .counter__title{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:576px){
    .counter__wrapper{
        flex-direction: column;
        gap: 2rem;
    }
}