#service{
    padding: 2rem 0;
}
.services__top-content{
    text-align: center;
    padding: .5rem 0;
}
.services__top-content h2{
    font-size: 3rem;
}
.service__item-wrapper{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    column-gap: 2rem;
}
.service__item{
    background: var(--card-bg);
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: .5rem 0;
}
.service__icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--icon-bg);
    border-radius: .5rem;
    border: 1px solid var(--primary-color);
}
.light-theme .service__icon{
    background-color: var(--primary-color);
}
.light-theme .service__icon i{
    color: #fff;
}
.service__icon i{
    font-size: 2rem;
    color: var(--primary-color);
}
.service__title{
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: .5rem 0;
}
@media only screen and (max-width:992px){
    .services__top-content{
        font-size: 1.5rem;
    }
    .service__item{
        width: 31%;
    }
    .service__item-wrapper{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:768px){
    .service__item{
        width: 47.7%;
    }
    .service__title{
        font-size: 1.2rem;
    }
    .services__top-content h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:576px){
    .service__item{
        width: 100%;
    }
}